@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(238, 240, 235);
    overflow: hidden;
    
}

.index{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#inicioDelIndex{
    display: flex;
    height: 600px;
    width: 600px;
    flex-direction: column;
    justify-content: center;
    margin-left: 15vh;
    margin-top: 15vh;
    font-family: Poppins, Arial;
}

#inicioDelIndex h1{
    font-weight: 600;
    font-size: 10vh;
}

.btn{
    width: 14vh;
}

.btn a{
    text-decoration: none;
    color:black
}

.btn a:hover{
    color:white;
}

.casa{
display: flex;
height: 500px;
width: 500px;
object-fit: cover;
margin-top: 5vh;
margin-left: 16vh;
}

footer{
    display: flex;
    font-family: Poppins, Arial;
    font-weight: 300;
    font-size: 2vh;
    background-color: rgb(244, 249, 233);
    color: rgb(146, 146, 144);
    padding: 1px;
    text-align: center;
    justify-content: center;
}

/* ------------------ PAGINA DE CONTACTO -------------------------- */

.main-contact{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    position: absolute;
    z-index: 50;
}
#contContacto{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.imagen {
    object-fit: cover;
    width: 50%;
    height: 100%;
    z-index: -10000;
}

#contContacto h1{
    display: flex;
    font-family: Poppins, Arial;
    font-size: 10vh;
    text-align: center;
    justify-content: flex-start;
    height: 100px;
    width: 500px;
    align-items: center;
    margin-left: 10%;
    margin-top: 25%;

}

.formulario{
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    margin-top: 3%;
    margin-left: 10%;
    align-items: center;
    text-align: center;
  
}

.form-control-custom{
    width: 300px;
}

.btn-custom{
    margin-top: 9px;
}

/* ------------------ PAGINA DE ABOUT US -------------------------- */

.main-about-us{
    display: flex;
    flex-flow: row wrap;
    font-family: Poppins, Arial;
    margin-top: 10%;
    margin-left: 10%;
}

#infoSobreNosotros{
    display: flex;
    height: 500px;
    width: 500px;
    flex-direction: column;
    padding: 10px;
   
}
#infoSobreNosotros h1{
    font-size: 90px;
    font-weight:600;
}

#infoSobreNosotros h2{
    font-size: 30px;
    font-weight: 500;
}

#infoSobreNosotros p{
    margin-top: 3%;
}

.main-about-us img{
    height: 500px;
    width: 400px;
    object-fit: cover;
    border-radius: 15px;
    margin-left: 10%;
}

.footer-about-us{
    display: flex;
    margin-top: 45px;
}

/* 
------------------------------------ PAGINA DE PROYECTOS ----------------------------------------- */

#imagenesDeProyectos{
    display: flex;
    height: auto;
    width: 800px;
    font-family: Poppins, Arial;
    margin-left: 25%;
    margin-top: -8px;
    
}

#imagenesDeProyectos img{
   object-fit: cover;
   border-radius: 20px;
}

.titulo-projects{
    display: flex;
    text-align: center;flex-direction: column;
    font-family: Poppins, Arial, Helvetica, sans-serif;

}

.titulo-projects h1{
font-weight: 600;
font-size: 90px;
margin-top: 60px;
}

.footer-projects{
        display: flex;
        margin-top: 10px;
    }

.carousel-custom h5{
    color:#ffff;
    text-shadow: 1px 1px 4px black;
}

.carousel-custom p{
    color:#ffff;
    text-shadow: 1px 1px 5px black;
}

/* ----------------------------- PAGINA DE SHOP --------------------------------------------- */
.titulo-shop h1{
display: flex;
margin-top: 7%;
font-family: Poppins, Arial;
font-weight: 600;
font-size: 10vh;
justify-content: center;
}

.cards-shop{
display: flex;
flex-flow: row wrap;
justify-content: center;
margin-top: 4%;
font-family: Poppins, Arial;
}

.card{
    margin-left: 100px;
}








/* MEDIA QUERY - MOBILE - ABOUT US */

@media (max-width: 480px){
    .nav-bar-custom{
        width: auto;
    }

    .main-about-us{
        margin-top: 15%;
    }
    
    #infoSobreNosotros{
        display: flex;
        height: auto;
        width: 500px;
        flex-direction: column;
        padding: 10px;
        }

        #infoSobreNosotros h1{
            font-size: 60px;
            font-weight:600;
        }
        
        #infoSobreNosotros h2{
            font-size: 20px;
            font-weight: 500;
        }
        
        #infoSobreNosotros p{
            margin-top: 3%;
            font-size: 12px;
        }

        .main-about-us img{
            height: 350px;
            width: 300px;
            object-fit: cover;
            border-radius: 15px;
            margin-left: unset;
            margin-top: 3%;
        }
}


/* ------------------------------------------------------- ESTILO PARA EJEMPLO DE GRID ------------------------------------------------- */

.body-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 15% auto 60px;
    grid-template-areas: 
    "header header header"
    "main main main"
    "footer footer footer";
    row-gap: 10px;
}

.header-grid{
    background-color: aqua;
    grid-area: header;
}

.main-grid{
    background-color: red;
    grid-area: main;
}

.footer-grid{
    background-color: burlywood;
    grid-area: footer;
}