
/* MEDIA QUERY - MOBILE - ABOUT US */

@media (max-width: 480px){

 //    ---------------- PAGINA DE ABOUT US ---------------------

    .nav-bar-custom{
        width: auto;
    }
    
    .main-about-us{
        margin-top: 15%;
        img{
            height: 250px;
            width: 200px;
            object-fit: cover;
            border-radius: 15px;
            margin: 3% 0 0 16%;

        } 
        
        #infoSobreNosotros{
            display: flex;
            height: auto;
            width: 500px;
            flex-direction: column;
            padding: 10px;
            margin: 0 10% 0 0;
            
            h1{
                font-size: 60px;
                font-weight:600;
                text-align: center;
               
            }
            h2{
                font-size: 25px;
                font-weight: 500;
                text-align: center;
                
            }
            p{
                margin-top: 3%;
                font-size: 12px;
                text-align: center;
               
               
            }
            a{
               margin: 3% 0 5% 28%; 
            }
        }
    }

 //    ------------------- PAGINA DE TIENDA ----------------------------------------

    .titulo-shop h1{
            display: flex;
                margin-top: 20%;
                font-weight: 600;
                font-size: 6vh;
                text-align: center;
                padding: 10px;
            }
            
            .cards-shop{
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                margin-top: 4%;
                font-family: Poppins, Arial;
                .card{
                    margin-left: unset;
                        margin-top: 20px;
                }
                // PUSE ESTE NUEVO DE ARRIBA
            }
        
     // ------------PAGINA INICIAL ---------------------------------


        .index{
            display: flex;
            width: 350px;
            flex-direction: column;
            align-items: center;
            .casa{
                height: 300px;
                width: 300px;
                margin-top: -15%;
                margin-left: 4vh;
                }

            #inicioDelIndex{
                
                height: 500px;
                width: 300px;
                margin-left: 4vh;
                margin-top: 6vh;
                
                h1{
                   
                    font-size: 5vh;
                    text-align: center;
                    
                }
                p{
                    font-size: 2vh;
                    width: 300px;
                    height: 300px;
                    text-align: center;
                    margin-left: unset;
                    margin-top: 7%;
                }
                a{
                    text-align: center;
                    margin-top: -25%;
                    margin-left: 30%;
                }
                
                }
            }
        

 // ------------------------------- PAGINA DE PROYECTOS ---------------------------------


        .titulo-projects{
            h1{
                font-size: 60px;
                margin-top: 250px;
                }
        }
        #imagenesDeProyectos{
            width: 300px;
            margin-left: 45px;
            margin-top: 30px;
            
        }


        .footer-projects{
                display: flex;
                margin-top: 64%;
                align-items: center;
            }
       
 // --------------------- PAGINA DE CONTACTOOOOO -------------------------------
 @mixin flexbox($direccion, $wr, $jc, $ai, $wi, $he){
    display: flex;
    flex-direction: $direccion;
    flex-wrap: $wr;
    justify-content: $jc;
    align-items: $ai;
    width: $wi;
    height: $he;
}
.main-contact{
    @include flexbox(row, wrap, none, none, unset, 100%);
    position: absolute;
    z-index: 50;
    
    .imagen {
        width: 100%;
        height: 50%;
        }
    #contContacto{
        @include flexbox(row, wrap, center, none, none, none);
        h1{
            @include flexbox(none, none, flex-start, center, 500px, 100px);
            font-family: Poppins, Arial;
            font-size: 6vh;
            width: 300px;
            margin-left: -10%;
            margin-top: unset;
            
        }
        .formulario{
            @include flexbox(column, none, none, center, auto, auto);
            margin-top: unset;
            margin-left: unset;
            text-align: center;
            
            .form-control-custom{
                width: 300px;
            }
            .btn-custom a{
                text-decoration: none;
                color: black;
                &:hover{
                    color: white;
                }
            }
        }
    }
}
} 
    
    








