@mixin flexbox($direccion, $wr, $jc, $ai, $wi, $he){
    display: flex;
    flex-direction: $direccion;
    flex-wrap: $wr;
    justify-content: $jc;
    align-items: $ai;
    width: $wi;
    height: $he;
}
.main-contact{
    @include flexbox(column, wrap, none, none, unset, 100%);
    position: absolute;
    z-index: 50;
    .imagen {
        object-fit: cover;
        width: 50%;
        height: 100%;
        z-index: -10000;
        }
    #contContacto{
        @include flexbox(row, wrap, center, none, none, none);
        h1{
            @include flexbox(none, none, flex-start, center, 500px, 100px);
            font-family: Poppins, Arial;
            font-size: 10vh;
            text-align: center;
            margin-left: unset;
            margin-top: 25%;
            
        }
        .formulario{
            @include flexbox(column, none, none, center, auto, auto);
            display: flex;
            margin-top: 3%;
            margin-left: 10%;
            text-align: center;
            
            .form-control-custom{
                width: 300px;
            }
            .btn-custom a{
                text-decoration: none;
                color: black;
                &:hover{
                    color: white;
                }
            }
        }
    }
}