
.titulo-projects{
    display: flex;
    text-align: center;
    flex-direction: column;
    font-family: $page-font;
    h1{
        font-weight: 600;
        font-size: 90px;
        margin-top: 60px;
        }
}
#imagenesDeProyectos{
    display: flex;
    height: auto;
    width: 800px;
     font-family: $page-font;
     margin-left: 25%;
     margin-top: -8px;
     img{
       object-fit: cover;
       border-radius: 20px;
    }
    .carousel-custom{
    h5{
       color:#ffff;
       text-shadow: 1px 1px 4px black;
       }
   p{
        color:#ffff;
         text-shadow: 1px 1px 5px black;
   }
    }
   }


.footer-projects{
        display: flex;
        margin-top: 10px;
    }

